@model MemberCardManagementV1.Models.MemberCardCategory

@{
    ViewBag.Title = "Xóa hạng thẻ";
}

<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa hạng thẻ này?</h3>
<div>
    <h4>Hạng thẻ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberCardCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberCardCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PromotionRevenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionRevenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfigName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfigName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div>
